<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="https://unpkg.com/vue@3"></script>
     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

     <!-- Alertas -->
     <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
    <div id="contenedor"> 
        <div class="container">
            <fieldset>
                <legend class="flow-text">
                    Lista de usuarios
                </legend>
                    
                <div v-if="(inAction=='mostrarTabla')" class="container">
                    <p class="flow-text">
                        Bienvenido: {{nameAuth}}
                    </p>
                    
                    <button @click="logout" class="red waves-effect waves-light btn-small">
                        cerrar sesion
                    </button>
                    <br><br>
                    <button @click="action('agregar', null)" class="btn waves-effect waves-light">
                        Registrar nuevo usuario
                    </button>
                </div>
        
                <div class="container">
                    <hr>
                    <table v-if="(inAction=='mostrarTabla')" class="table striped centered bordered">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Nombre de usuario</th>
                                <th>Correo</th>
                                <th>Telefono</th>
                                <th>Página web</th>
                                <th>Dirección</th>
                            </tr>
                        </thead>
                        
                        <tbody>
                            
                            <tr v-for="user in users">
                                <td> {{ user.id }} </td> 
                                <td> {{ user.name }} </td>
                                <td> {{ user.username }} </td>
                                <td> {{ user.email }} </td>
                                <td> {{ user.phone }} </td>
                                <td> {{ user.website }} </td>
                                <td>
                                    <ul>
                                        <li> {{ user.address.street }} </li>
                                        <li> {{ user.address.city }} </li>
                                        <li> {{ user.address.zipcode }} </li>
                                    </ul>
                                </td>
                                <td>
                                    <button @click="action('editar', user)" class="waves-effect waves-light btn-small">
                                        Editar
                                    </button>
                                    <button @click="remove(user)" class="waves-effect waves-light btn-small">
                                        Eliminar
                                    </button>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
            
                    <form v-else action="">
                        <div v-if="(inAction=='editar')">
                            <p  class="flow-text">
                                Editar usuario
                            </p>
                            <label for="name">Nombre(s)</label>
                            <input id="name" type="text" v-model="name" class="validate">
                        </div>
                        <div v-else>
                            <p  class="flow-text">
                                Agregar un nuevo usuario
                            </p>
                            <div class="row">
                                <div class="col s6">
                                    <label for="name" >Nombre(s)</label>
                                    <input id="name" type="text" v-model="name" >
                                </div>
                                <div class="col s6">
                                    <label for="last_name">Apellido(s)</label>
                                    <input id="last_name" type="text" v-model="last_name" >
                                </div>
                            </div>
                        </div>
                        <label class="">
                            Nombre de usuario
                        </label>
                        <input type="text" v-model="username">
                        <label class="">
                            Correo electrónico 
                        </label>
                        <input type="email" v-model="new_email">
                        <br><br>
                        <label for="">
                            Contraseña
                        </label>
                        <input type="password" v-model="password">
                        <br><br>
                        <label for="">
                            Telefono
                        </label>
                        <input type="text" v-model="phone">
                        <label for="">
                            Página web
                        </label>
                        <input type="text" v-model="website">
                        <label>
                            Calle
                        </label>
                        <input id="street" type="text" v-model="street">
                        <label>
                            Ciudad
                        </label>
                        <input id="city" type="text" v-model="city">
                        <label>
                            Codigo postal
                        </label>
                        <input id="zipcode" type="text" v-model="zipcode" >
                        <br><br>
                        <br><br>
                        <button @click="save" class="btn waves-effect waves-light">
                            Guardar los cambios
                        </button>
                        <button @click="cancel" class="btn red waves-effect waves-light">
                            Cancelar
                        </button>
                    </form>
                    <br>
                    <hr>
                </div>
            </fieldset>
        </div>
    </div>
    
    <script type="text/javascript">
        const {createApp} = Vue;
        
        var app = createApp({
            data(){
                return {
                    users:null,
                    inAction: 'mostrarTabla',
                    nameAuth: localStorage.getItem('name'),
                    id: 1,
                    name:'',
                    last_name:'',
                    username:'',
                    new_email: '',
                    password:'',
                    phone: '',
                    website:'',
                    address: '',
                    street:'',
                    city:'',
                    zipcode:''
                }
            },methods : {
                logout(e){
                    e.preventDefault();

                    //borrar info del localStorage
                    localStorage.removeItem('email');
                    localStorage.removeItem('name');
                    window.location="users.html"
                },
                action(m, u){
                    if(m=='agregar'){
                        this.name=''
                        this.last_name=''
                        this.username=''
                        this.new_email=''
                        this.password=''
                        this.phone=''
                        this.website=''
                        this.address=''
                        this.street=''
                        this.city=''
                        this.zipcode=''
                        this.inAction='agregar';
                        console.log(this.inAction)
                    }
                    if(m=='editar'){
                        this.id=u.id
                        this.name=u.name
                        this.username=u.username
                        this.new_email=u.email
                        this.password=u.password
                        this.phone=u.phone
                        this.website=u.website
                        this.street=u.address.street
                        this.city=u.address.city
                        this.zipcode=u.address.zipcode
                        this.inAction='editar';
                    }
                },
                cancel(){
                    this.inAction = 'mostrarTabla';
                },
                remove(u){
                    swal({
                        title: "Esats seguro?",
                        text: "No podras recuperar este usuario!",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                        })
                        .then((willDelete) => {
                        if (willDelete) {
                            var id_aux = 0;
                            for (let x = 0; x < this.users.length; x++) {
                                if(u.id === this.users[x].id){
                                    break
                                }
                                id_aux++;
                                
                            }
                            this.users.splice(id_aux,1);
                            swal("Usuario eliminado con exito!", "Presiona 'OK' para continuar!", "success");
                        } else {
                            cancel();
                        }
                    });
                    
                },
                save(e){
                    e.preventDefault();

                    var usuarioDuplicado = false;
                    var id = this.id
                    var new_email = this.new_email
                    if(this.inAction!='editar'){
                        var access = this.users.map(function(u){
                            if(u.email.toLowerCase() === new_email || u.email === new_email){
                                swal("Error!", "Ya existe un usuario vinculado a este correo!", "error");
                                usuarioDuplicado = true;
                            }
                            id+=1;
                        })
                    }
                    
                    
                    if (usuarioDuplicado==false){
                        
                        if(this.inAction=='editar'){
                            var name_aux = this.name
                            var username_aux = this.username
                            var new_email_aux = this.new_email
                            var password_aux = this.password
                            var phone_aux = this.phone
                            var website_aux = this.website
                            var address_aux = this.address
                            var street_aux = this.street
                            var city_aux = this.city
                            var zipcode_aux = this.zipcode

                            var access = this.users.map(function(u){
                                if(id === u.id){
                                    u.name = name_aux
                                    u.username = username_aux
                                    u.email = new_email_aux
                                    u.password = password_aux
                                    u.phone = phone_aux
                                    u.website = website_aux
                                    u.address.street = street_aux
                                    u.address.city = city_aux
                                    u.address.zipcode = zipcode_aux 
                                }
                            })
                            swal("Datos actualizados!", "Presiona 'OK' para continuar!", "success");
                        }else{
                            var new_user = {id:id, 
                                name:this.name + ' ' + this.last_name, 
                                username:this.username, 
                                password:this.password,
                                email: this.new_email,
                                phone: this.phone,
                                website: this.website,
                                address: {
                                    street: this.street,
                                    city: this.city,
                                    zipcode: this.zipcode
                                }
                            }

                            this.users.push(new_user);
                            swal("Registro existoso!", "Presiona 'OK' para continuar!", "success");
                        }
                        this.inAction='mostrarTabla'
                        
                    }
                }
            },
            mounted(){
                fetch('users.json')
                .then((res) => res.json())
                .then((json) => (this.users = json))
                .catch((err) => (console.log(err)))
            }

        }).mount('#contenedor')
    </script>
</body>
</html>