<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJS</title>
    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>
    <div id="contenedor">
        <label >Valor 1: </label>
        <input type="text" v-model="valor1" name="">
        <br><br>
        <label >Valor 2: </label>
        <input type="text" v-model="valor2" name="">
        <br><br>
        <button @click="suma" >
            Sumar
        </button>
        
        <h1>
            {{ resultado }}
        </h1>

        <hr>


    </div>


    <script type="text/javascript">
        //Vincular vue con el contenedor
        const {createApp} = Vue;

        var app = createApp({
            data(){
                return {
                    valor1: '',
                    valor2: '',
                    resultado:'Suma: '
                }
            },
            methods : {
                suma(){
                    
                    this.resultado='Suma: '+(parseFloat(this.valor1)+parseFloat(this.valor2));
                }
            }
        }).mount('#contenedor')
    </script>
</body>
</html>